.dashboard-main {
    display: flex;
    flex-direction: row;
    height: 92vh;
    gap: 20px;
}

/* Pie Chart Section */
.pie-chart-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Stats Section */
.stats-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stat-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat-box i {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.stat-number {
    font-size: 2rem;
    font-weight: bold;
}

.stat-label {
    font-size: 1.2rem;
    color: grey;
}

/* Extra Sections */
.extra-sections {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overdue-section, .admin-section, .branch-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overdue-section h3, .admin-section h3, .branch-section h3 {
    margin-bottom: 10px;
}

.borrower, .admin, .branch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.borrower i, .admin i, .branch i {
    margin-right: 10px;
}

.admin .active {
    color: green;
}
